@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#particles-quiz {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}



nav {

position: fixed;
width: 100%;
height: 4vh;
text-align: initial;
display: inline-block;
align-content: center;
background-color: #242424;

z-index: 1;

}

h1 {
  padding: 0;
}

.navbut {

  float: left;

  background-color: #222222;
  background-image: none;
  border-radius: 0px;
  margin: 0px;
  height: 4vh;
  width: 15vw;
  padding: 0vw;
  border: none;

  color: #FF6663;
  text-align: center;
  line-height: 3vh;
  font-size: 3vh;
  transition: 0.1s ease-in-out;
  font-family: 'Oswald', sans-serif;

}

.navlogo {

  float: left;

  background-color: #22222200;
  background-image: none;
  border-radius: 0px;
  margin: -5px;
  height: 6vh;
  width: 6vh;
  border: none;

  align-self: center;
  color: #FF6663;
  text-align: center;
  font-size: 3vh;
  transition: 0.1s ease-in-out;
  font-family: 'Oswald', sans-serif;

}

.but {

  background-color: #280000;
  background-image: none;
  border-radius: 0px;
  margin: 0px;
  height: 9vh;
  width: 32vw;
  padding: 0;
  border: none;

  color: #FF6663;
  text-align: center;
  line-height: 4vh;
  font-size: 4vh;
  transition: 0.1s ease-in-out;
  font-family: 'Oswald', sans-serif;

}

#Select {
  color: rgb(13, 32, 0);
  background-color: #9593D9;
}
#Select:hover {
  background-color: rgb(184, 181, 247);
}
.navbut:hover {
  background-color: rgb(94, 94, 94);
}


body {
  font-family: 'Oswald', sans-serif;
  padding: 0px;
  margin: 0px;
  width: 100%;
  background: #ffffff00;
  background-image: url(Img/aardbeien.jpg);
  background-attachment: fixed;
  background-size: 250vh;
  display: flex;
  position: relative;
  align-items: inherit;
  flex-direction: column;

}

address {
  font-style: normal;
  text-align: center;
  width: 100%;
}

p {
  margin: 0px;
  font-size: 6vh;
  width: 100%;
  
}

p.small {

 color: rgb(42, 42, 42);
 font-size: 4vh;
 margin: 0px;
 padding: 0;

}

p.Big {
  font-size: 5vw;
}

.Title {

font-family: 'Oswald', sans-serif;
text-align: center;
font-size: 15vw;
color: #FDFFFF;
background-attachment: fixed;
background-size: 150vw;
margin: 0px;
padding-top: 15vh;
padding-bottom: 10vh;
height: 50vh;
width: 100%;
transition: 0.5s ease-in-out;
}
.typingtop {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
}

.typing {
  width: 9.5ch;
  animation: typing 2s steps(22), blink .5s step-end 6 alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 15vw;
  border-color: transparent;

}

@keyframes typing {
  from {
    width: 0;
  }

}
    
@keyframes blink {
  50% {
    border-color: white;
  }
}

.Title2 {

font-family: 'Oswald', sans-serif;
text-align: initial;
font-size: 3vw;
color: black;
background-color: #FDFFFF;
margin: 0px;
padding-top: 12vh;
padding-bottom: 5vh;
width: 100%;
transition: 0.5s ease-in-out;
}
.Title3 {

font-family: 'Oswald', sans-serif;
text-align: center;
font-size: 10vw;
color: #FDFFFF;
background-attachment: fixed;
background-size: 150vw;
margin: 0;
padding-top: 3vh;
padding-bottom: 3vh;
height: 20vh;
width: 100%;
transition: 0.5s ease-in-out;
}

#Weetje {

font-size: 3vw;
color: rgb(99, 99, 99);
background-color: rgba(253, 255, 255, 0.534);
filter: blur(50%)
transition: 0.5s ease-in;

}

#Weetjesmain {

background: rgba(255, 255, 255, 0.35);  width: 99%;
  padding-top: 0vh;
  padding-bottom: 2vh;
  padding-left: 1vw;
  align-items: center;

}

#Weetjes {

  width: 10vw;


}

#rightimg {

  width: 10vw;


}

#Gevaar {
  

  width: 96%;
  height: 27vh;
  margin: 0px;
  padding: 2%;

  background: rgb(253,255,255);
  background: linear-gradient(60deg, rgba(253,255,255,1) 21%, rgba(219,169,202,1) 100%);

}

.About {
  background-color: #110000;
  color: rgb(119, 117, 117);
  padding-bottom: 0vh;
  padding-top: 0vh;
  display: flex;
}
.About2 {
  background-color: #110000cb;
  color: rgb(173, 173, 173);
  padding-bottom: 4vh;
  padding-top: 4vh;
  width: 90%;
  align-self: center;
  border-radius: 5%
}
.About p{
  font-size: 3vh;
}

.Best {

font-family: 'Oswald', sans-serif;
font-size: 5vh;
padding: 0;
padding-top: 1vh;
padding-bottom: 5vh;
width: 96vw;
align-items: center;
padding-left: 1vw;
background-color: rgba(255, 255, 255, 0.35);

}

.Top {

  background-color: rgba(253, 255, 255, 0);
  display: inline-block;
  width: 90vw;
  padding-left: 0vw;
  text-align: center;

}

.Navmain {
  margin: 0;
  width: 100%;
  height: 13vh;
  padding: 4vh;
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(43, 43, 43, 0.418);
  z-index: 0;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
}

.IMG {

  background-color: gray;
  border-radius: 25px;
  padding: 5px;
  width: 14vw;
  height: 14vw;
  margin-left: 0vw;
  transition: 0.1s ease-in-out;
  align-self: center;

  
}


button {
  padding: 4px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  background-color: rgb(255, 255, 255);
  transition: 0.1s ease-in-out;
}
button:hover {
  background-color: rgb(228, 228, 228);
}

#Gevaren {
  padding: 3%;
  margin: 0;
  width: 90%;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 5%;
}

#Klimaat {
  padding: 2vw;
  padding-top: 0.01vw;
  background-color: rgb(230, 45, 42);
  font-size: 3vw;
  background-image: url(Img/Klimaatverandering.jpg);
  background-size: 150vw;
  background-position: center;
  border-radius: 5%;
  margin-bottom: 2vh;
}
#Pesticiden {
  padding: 2vw;
  padding-top: 0.01vw;
  background-color: rgb(42, 230, 73);
  font-size: 3vw;
  background-image: url(Img/Pesticiden.jpg);
  background-size: 150vw;
  background-position: center;
  border-radius: 5%;
  margin-bottom: 2vh;

}

#Klimaat h2 {
  background-color: rgba(255, 255, 255, 0.678);
  width: 100%;
  padding: 0;
}
#Klimaat span {
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
  padding: 0;
}
.Bron {
  font-size: 2vw;
  text-align: right;
  align-self: flex-end;
  width: 100vh;
}

.textblock {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

a {
  color: #9593D9;
}
a:hover {
    color: #5F00BA;
}
.Quizvraag {
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: space-evenly;

}

#Quiz {
  color: white;
  text-align: center;
  background-color: rgba(25, 25, 34, 0.959);
  z-index: 0;
  height: 70vh;
  width: 90%;
  align-self: center;
  border-radius: 5%;
}

#Annanas {
  padding-left: 0;
}
#Annanas:focus {
  opacity: 0;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 10vh;
  --card-width: 25vw;
}


.but {
  background: #191c29;
  color:#e43737;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 10%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  display: flex;
  float: inherit;
  font-size: 1.5em;
  cursor: pointer;
}

.but:hover {
  background: #404661;
  color:#e65050;
  transition: color 1s;
}
.but:hover:before, .but:hover:after {
  opacity: 50%;
  transform: scale(1.1);
  transition: ease-in-out 0.25s;
}


.but::before {
  content: "";
  width: 104%;
  height: 110%;
  border-radius: 10px;
  background-image: linear-gradient(
    var(--rotate)
    , #ff5d5d, #ff5d5d 43%, #c20078);
    position: absolute;
    z-index: -5;
    top: -5%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.but::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  z-index: -4;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(1);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #ff5d5d, #ff5d5d 43%, #c20078);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

.vraag {
  background: #191c29;
  color:#e43737;
  width: 20%;
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 10%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  display: flex;
  float: inherit;
  font-size: 1.5em;
  cursor: pointer;
}

.vraag:hover {
  background: #404661;
  color:#e65050;
  transition: color 1s;
}
.vraag:hover:before, .vraag:hover:after {
  opacity: 50%;
  transform: scale(1.1);
  transition: ease-in-out 0.25s;
}

.vraag::before {
  content: "";
  width: 104%;
  height: 110%;
  border-radius: 10px;
  background-image: linear-gradient(
    var(--rotate)
    , #ff5d5d, #ff5d5d 43%, #c20078);
    position: absolute;
    z-index: -1;
    top: -5%;
    left: -2%;
    animation: spin 10s linear infinite;
}

.vraag::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(1);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #ff5d5d, #ff5d5d 43%, #c20078);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 10s linear infinite;
}
.vraagbeantwoord {
  background: #62ff5d;
  color:#011100;
  width: 20%;
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 10%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  display: flex;
  float: inherit;
  font-size: 1.5em;
  cursor: pointer;
  transition: ease-in-out(1s);
}

.vraagbeantwoord:hover {
  background: rgb(147, 255, 128);
  color:#011100;
  transition: color 1s;
}
.vraagbeantwoord:hover:before, .vraagbeantwoord:hover:after {
  opacity: 50%;
  transform: scale(1.1);
  transition: ease-in-out 0.25s;
}

.vraagbeantwoord::before {
  content: "";
  width: 104%;
  height: 110%;
  border-radius: 10px;
  background-image: linear-gradient(
    var(--rotate)
    , #b9ff5d, #62ff5d 43%, #00bcc2);
    position: absolute;
    z-index: -1;
    top: -5%;
    left: -2%;
    animation: spin 2s linear infinite;
}

.vraagbeantwoord::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(1);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #b9ff5d, #62ff5d 43%, #00bcc2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2s linear infinite;
}



@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

